.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;

	.brand-logo {
		font-size: 1.6rem;
		font-weight: 600;
		text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.2);
	}

	.nav-item {
		margin-left: 2.5rem;
	}

	.nav-item a {
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.active {
	color: #ecaf4f;
}
