a {
	display: inline-block;
	text-decoration: none;
	color: $link-color;
	font-family: $font-family;
}

.btn {
	cursor: pointer;
	padding: 0.8rem 2.5rem;
	color: #000;
	font-weight: 700;
	border: 2.5px solid #000;
	letter-spacing: 2px;
	font-size: 0.8rem;
	text-transform: uppercase;
	border-radius: 40px;
}
