.hero {
	background-color: $bg-pink;
	color: $paragraph-color;

	.hero__img img {
		width: 100%;
		object-fit: cover;
		height: 740px;
	}

	.hero__heading {
		margin: 1.2rem 0;
		line-height: 1.4;
	}

	.hero__sub_heading {
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 600;
	}

	.btn {
		margin-top: 4rem;
	}
}

// about

.about__text {
	h3 {
		color: #cc9946;
	}
}

.my-skills {
	background-color: #ecaf4e;

	h3,
	span {
		font-weight: 600;
		color: #000;
		margin-bottom: 0.5rem;
	}

	h2,
	h3,
	p,
	span {
		color: #fff;
	}

	.progress-bar {
		margin-bottom: 1rem;
	}

	.fd,
	.bp,
	.hc {
		width: 100%;
		height: 2.5px;
	}

	.fd {
		background: linear-gradient(to right, #000 90%, #fff 90%);
	}

	.bp {
		background: linear-gradient(to right, #000 70%, #fff 70%);
	}

	.hc {
		background: linear-gradient(to right, #000 80%, #fff 80%);
	}
}

// my-work

.work {
	text-align: center;
	padding: 2rem;

	i,
	h2,
	p {
		color: #fff;
	}

	i {
		font-size: 3rem;
		margin-bottom: 3rem;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}
}

.interface {
	background-color: #ecaf4e;
}

.media {
	background-color: #fc683e;
}

.mobile-app {
	background-color: #161616;
}

.coding {
	background-color: #ffffff;

	i,
	h2,
	p {
		color: #000;
	}
}

// My-Experiences

.my-experience {
	background-color: #fc683e;
}

.experience {
	justify-self: start;
	padding: 2.5rem 5rem;

	h2,
	h4,
	p,
	i {
		color: #fff;
		line-height: 1.5;
	}

	h3 {
		color: rgba(255, 255, 255, 0.5);
	}

	.time-period {
		font-size: 1rem;
		color: #713234;
		font-weight: 600;
		margin-left: 1rem;
	}

	& > div {
		margin-top: 1rem;
	}

	.details {
		margin-left: 2rem;
	}

	i {
		display: inline-block;
		font-size: 2.5rem;
	}
}

// Education

.my-education {
	background-color: #ecaf4e;
}

.education {
	@extend .experience;
}

// reach-us

.reach-us {
	background-color: #fc683e;

	h2,
	p,
	input,
	textarea,
	a {
		color: #fff;
		font-family: $font-family;
	}
}

.contact-form {
	form {
		margin-top: 3rem;
	}

	input,
	textarea {
		font-size: 1.1rem;
		width: 100%;
		margin: 1.2rem 0;
		padding: 0.5rem;
		border: none;
		outline: none;
		background-color: transparent;
		border-bottom: 1.5px solid #ecaf4e;

		&::placeholder {
			color: #fff;
		}
	}

	button {
		width: 40%;
		background-color: #fff;
		color: rgba(0, 0, 0, 0.7);
		letter-spacing: 0.5px;
		border: none;
		font-size: 1.2rem;
		font-weight: 300;
		text-transform: capitalize;
		margin-top: 1rem;
	}
}

.address {
	background-color: #000;

	img {
		height: 650px;
	}

	p,
	a {
		color: #545454;
	}

	a {
		display: block;
		margin: 1rem 0;
		font-size: 1.1rem;
	}

	i {
		display: inline-block;
		margin-right: 0.8rem;
	}
}

//map

.map {
	margin: 0 auto;
	padding: 5rem 0;
	max-width: 80rem;
}
